<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<style> 
	.t-right{
		text-align:right; 
	}
	</style>

    <title>후기 게시판</title>
</head>
<th:block layout:fragment="content">
    <!--메인 -->
    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="position-relative bg-light">
            <div class="container  pt-11 pb-7 pb-lg-9">
                <div class="row pt-lg-5">
                    <div class="col-lg-8">
                        <h2 class="display-4">여행 후기 모아모아</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--Swiper-slide Auto items per-view-->
    <section class="position-relative overflow-hidden">
        <div class="container col-lg-8 col-md-8 col-xl-8 py-3 py-lg-5">
            <h2 class="mb-5">최근 한 달간 인기 후기</h2>
            <!-- Swiper -->
            <div class="swiper-container text-white swiper-auto overflow-visible">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" th:each="list: ${viewList}">
                        <div class="card rounded-0 shadow-lg flex-lg-row flex-column overflow-hidden border-0 bg-white">
                            <div class="col-lg-6">
                                <div
                                    class="d-flex flex-column border-end-lg align-items-center justify-content-center h-100 bg-light img-wrapper">
                                    <img th:src="${list.thumbNail}" onerror="this.onerror=null; this.src='/assets/img/avatar/2.jpg';" alt="" class="img-zoom img-fluid">
                                </div>
                            </div>
                            <div class="card-body h-100 p-3 py-5 py-md-7 px-md-4 p-xl-5 flex-grow-1 ">
                                <div class="d-md-flex align-items-md-center">
                                    <div class="ps-lg-3" style="word-break:break-word;">
                                        <div style="min-height:225px;">
                                        <p class="fs-4 text-dark mb-4 fw-bold">
                                           [[${list.reviewTitle}]]
                                        </p>
                                        <div class="mb-3" >
                                            <h6 class="mb-2 text-dark" th:utext="${#strings.abbreviate(list.reviewContent, 50)}"></h6>
                                        </div>
                                        <div class="text-dark fw-semibold small pb-3" th:text="${#dates.format(list.reviewDate, 'yyyy-MM-dd')}">
                                           [[${list.reviewDate}]]
                                        </div></div>
                                    	<a th:href="@{'/review/'+${list.reviewId}(page=${reviewList.number+1})}" class="btn btn-outline-secondary btn-hover-arrow">
                                            <span>자세히 보기</span>
                                        </a>
                                    	</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="position-relative mt-4 swiper-pagination swiperAuto-pagination"></div>
<!--                 Add Arrows -->
<!--                 <div class="swiper-button-next swiperAuto-button-next"></div> -->
<!--                 <div class="swiper-button-prev swiperAuto-button-prev"></div> -->
            </div>
    </section>


    <!--Swiper-slide 3 items per-view (minimum - 1024px width)-->
    <section class="position-relative overflow-hidden">
        <div class="container pb-7 pb-lg-12 mt-5">
            <h2 class="mb-4">최신 후기</h2>
            <div class="mb-3 t-right">
            	<a class="fw-bold fs-5 text-dark" href="/review/">후기 전체 보기</a>
            </div>
            <!-- Swiper -->
            <div class="swiper-container swiper-3 overflow-visible">
                <div class="swiper-wrapper">
                	<div class="swiper-slide" th:each="list: ${reviewList}">
                        <div class="vh-auto bg-white">
                            <article class="card-hover border-0 d-flex me-4">
                                <a th:href="@{'/review/'+${list.reviewId}(page=${reviewList.number+1})}" class="stretched-link"></a>
                                <div class="card-body position-relative p-0" >
                                    <div class="d-block position-relative overflow-hidden mb-4 img-wrapper" style="text-align: center;">
                                        <img th:src="${list.thumbNail}" onerror="this.onerror=null; this.src='/assets/img/800x600/2.jpg';" class="img-fluid img-zoom" alt="">
                                    </div>
                                    <h5 class="mb-3">[[${list.reviewTitle}]]</h5>
                                    <div class="blog-content">
                                        <!-- <p class="mb-4">[[${list.reviewContent}]]</p> -->
                                        <div class="text-primary fw-semibold small pb-2 border-bottom border-primary" th:text="${#dates.format(list.reviewDate, 'yyyy-MM-dd')}">
                                           [[${list.reviewDate}]]</div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
               	</div>
                <br><br><br>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper3-pagination"></div>
<!--                 Add Arrows -->
<!--                 <div class="swiper-button-next swiper3-button-next"></div> -->
<!--                 <div class="swiper-button-prev swiper3-button-prev"></div> -->
            </div>
        </div>
		
        <div class="container pb-7 pb-lg-12 mb-2" sec:authorize ="isAuthenticated()">
            <h2 class="mb-5">
            <span th:if="${#authentication.principal.age<20}" th:text="10대 "></span>
            <span th:if="${#authentication.principal.age>=20 && #authentication.principal.age<30}" th:text="20대 "></span>
            <span th:if="${#authentication.principal.age>=30 && #authentication.principal.age<40}" th:text="30대 "></span>
            <span th:if="${#authentication.principal.age>=40 && #authentication.principal.age<50}" th:text="40대 "></span>
            <span th:if="${#authentication.principal.age>=50 && #authentication.principal.age<60}" th:text="50대 "></span>
            <span th:if="${#authentication.principal.age>=60 && #authentication.principal.age<70}" th:text="60대 "></span>
            <span th:if="${#authentication.principal.age>=70}">70대 이상</span> 회원들의 최신 여행 후기</h2>
            <!-- Swiper -->
            <div class="swiper-container swiper-3 overflow-visible">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="list: ${ageList}">
                        <div class="vh-auto bg-white">
                            <article class="card-hover border-0 d-flex me-4">
                                <a th:href="@{'/review/'+${list.reviewId}(page=${reviewList.number+1})}" class="stretched-link"></a>
                                <div class="card-body position-relative p-0">
                                    <div class="d-block position-relative overflow-hidden mb-4 img-wrapper" style="text-align: center;">
                                        <img th:src="${list.thumbNail}" onerror="this.onerror=null; this.src='/assets/img/800x600/2.jpg';" class="img-fluid img-zoom" alt="">
                                    </div>
                                    <h5 class="mb-3">[[${list.reviewTitle}]]</h5>
                                    <div class="blog-content">
<!--                                         <p class="mb-4">Lorem ipsum is placeholder text commonly used in the graphic, -->
<!--                                             print, and publishing...</p> -->
                                        <div class="text-primary fw-semibold small pb-2 border-bottom border-primary" th:text="${#dates.format(list.reviewDate, 'yyyy-MM-dd')}">
                                            [[${list.reviewDate}]]</div>
                                    </div>
                                </div>
                            </article>
                        </div>
					</div>
                </div>
                <br><br><br>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper3-pagination"></div>
<!--                 Add Arrows -->
<!--                 <div class="swiper-button-next swiper3-button-next"></div> -->
<!--                 <div class="swiper-button-prev swiper3-button-prev"></div> -->
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
    </script>
</th:block>
</html>
