<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- include summernote css/js-->
		<link href="/css/summernote-lite.css" rel="stylesheet">
		<!--File uploader-->
	    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
	    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
	    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
	        rel="stylesheet">
		
        <!--모달-->
        <style> .note-dialog .modal-dialog{ z-index:1050; } .modal-nav </style>

        <title>여행 후기 작성 페이지 :: BITravel</title>
    </head>
	
	<!-- 모달 내부 내용 -->
	<th:block layout:fragment="modal-board">
           <div class="modal" id="myModal_1">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content note-dialog modal-dialog">
	
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">여행지 조회</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<!--Modal navbar-->
					<div class="modal-nav">
	
					</div>
					<!-- Modal body -->
					<div class="modal-body">
	
						<div class="btn-group">
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">여행지명</button>
							</div>
	
							<div>
								<form class="d-flex" >
									<input class="form-control me-2" type="text" id="name" onkeypress="findTravelName()" placeholder="Search" >
									<input type="text" style="width:0px; visibility: hidden;">
									<button class="btn btn-primary" type="button" onclick="findTravelName();">Search</button>
								</form>
							</div>
						</div>
						<!--테이블-->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>번호</th>
									<th>여행지</th>
									<th>주소</th>
									<th>id</th>
								</tr>
							</thead>
							<tbody id="list">
	
							</tbody>
						</table>
					</div>
	
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
	
				</div>
			</div>
		</div>
	</th:block>
        <!--Main content-->
    <th:block layout:fragment="content">
        <main class="main-content position-relative z-index-2 bg-white" id="main-content">
            <section class="position-relative bg-light">
                <div class="container  pt-11 pb-7 pb-lg-9">
                    <div class="row pt-lg-5">
                        <div class="col-lg-8">
                            <h2 class="display-4">여행후기 작성</h2>
                            <p>여행의 추억들을 기록해 보세요. </p>
                        </div>
                    </div>
                </div>

            </section>
            
            <!-- 글작성 창 시작-->
            <section class="position-relative">
                <div class="container py-3 py-lg-5">
                    <div class="row mb-4 justify-content-center">
					<!-- 모달 버튼 -->
                        <form id="form" class="form-horizontal" name="only-form">
						<div class="form-group" name="form-line">
							<div style="display: flex">
								<input type="hidden" id="travelId0" class="form-control" placeholder="여행지 Id" />
								
								<div class="blog-content justify-content-center">
									<div class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
									<input type="radio" class="btn-check" id="like0" value="like0" name="card2" autocomplete="off">
										<label class="btn btn-rise btn-outline-info m-2 p-0 size-40 d-flex rounded-circle" for="like0">  
											<div class="btn-rise-bg bg-info"></div>
											<div class="btn-rise-text">
												<i class="fs-5 bi bi-hand-thumbs-up"></i>
											</div>
											</label>
									<input type="radio" class="btn-check" id="dislike0" value="dislike0" name="card2" autocomplete="off">
										<label class="btn btn-rise btn-outline-danger m-2 p-0 size-40 d-flex rounded-circle" for="dislike0">
											<div class="btn-rise-bg bg-tint-danger"></div>
											<div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
										</label>
									</div>
								</div>
								
								<input type="text" id="travelName0" class="form-control mb-2"
									placeholder="여행지를 입력해 주세요." readonly/>
								<button type="button" class="btn btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#myModal_1" style="margin-left: 10px;">
								등록 
								</button>
								<button type="button" class="btn btn btn-primary mb-2" onclick="addTravel();" style="margin-left: 10px;">
								추가
								</button>
								
							</div>
						</div>

						<div class="form-group">
							<div>
								<input type="text" id="reviewTitle" class="form-control mb-2" placeholder="제목을 입력해 주세요." />
							</div>
						</div>

						<div class="form-group mb-5">
							<div>
								<textarea id="summernote" name="editordata"></textarea>
							</div>
						</div>

						<div class="btn_wrap text-center">
							<button type="button" onclick="goBack();"
								class="btn btn-outline-secondary waves-effect waves-light">뒤로가기</button>
							<button type="button" onclick="save();"
								class="btn btn-secondary waves-effect waves-light">저장하기</button>
						</div>
						</form>
                    </div>
                </div>
            </section>
        </main>
    </th:block>
        <!-- 글작성 창 종료 -->
<th:block layout:fragment="script">
	<script th:inline="javascript" src="/js/bitravel/reviewWrite.js"></script>
	<script src="/js/summernote-lite.js"></script>
	<script src="/js/summernote-ko-KR.js"></script>
    <script th:inline="javascript">
	/*<![CDATA[*/
		/**
		* 모달창 앞으로 이동
		**/

		$('#myModal_1').appendTo("body") 
		
		/**
		* 썸머노트 에디터
		**/
		
		var id;
		
		$(document).ready(function() {
			
			 id = /*[[ ${id} ]]*/;
			
			 $('#summernote').summernote({
		    		placeholder: '내용을 입력하세요. (10자 이상)',
		    		minHeight: 370,
		    		maxHeight: null,
		    		focus: true,
		    		lang: 'ko-KR',
	    			callbacks : { //다중 이미지 처리 반복문..
						onImageUpload : function(files, editor, welEditable) {
							for (var i = 0; i < files.length; i++) {
								sendFile(files[i], this);
							}
						}
					}
		    	});
			 console.log("인식여부");
	         findreview();
		});
		/*]]>*/
    </script>
</th:block>
</html>
