<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title id="pageTitle">후기 게시판 :: Bitravel</title>
</head>

<th:block layout:fragment="content">
    <!--메인 -->
    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="position-relative bg-light">
            <div class="container  pt-11 pb-7 pb-lg-9">
                <div class="row pt-lg-5">
                    <div class="col-lg-8">
                        <h2 class="display-4">후기 게시판</h2>
                        <br>
                        <p>다양한 여행 후기를 공유해 보세요.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 게시글 영역 -->
        <div class="container py-6">
            <div class="row mb-3 justify-content-center">

                <!-- 가로길이 조정  -->
                <div class="col-xxl-12 mb-4">
                    <!-- 테이블 시작 -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-muted">
                                    <th scope="col" class="text-center" style="width:10%;">번호</th>
                                    <th scope="col" style="width:45%;">제목</th>
                                    <th scope="col" style="width:10%;">작성자</th>
                                    <th scope="col" class="text-center" style="width:23%;">날짜</th>
                                    <th scope="col" class="text-center" style="width:12%;">조회수</th>
                                </tr>
                            </thead>
                            <tbody id="list">
                                <tr th:each="list, index: ${reviewList}">

                                    <td class="text-muted text-center">
                                        [[${reviewList.totalElements-(((reviewList.number)*reviewList.size) +
                                        index.index)}]]</td>
                                    <td>
                                        <a th:href="@{'./'+${list.reviewId}(keyword=${param.keyword}, page=${reviewList.number+1})}"
                                            class="text-dark">
                                            [[${list.reviewTitle}]]
                                        </a>
                                    </td>
                                    <td>[[${list.nickname}]]</td>
                                    <td class="text-center small" th:text="${#dates.format(list.reviewDate, 'yyyy-MM-dd HH:mm')}">
                            		[[${list.reviewDate}]]</td>
                            	<td class="text-center">[[${list.reviewView}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
             	</div>
        <!-- 테이블 종료 -->
		<!--/* 검색 영역 */-->
				<div class="row col-8 ">
                    <div class="d-flex justify-content-center">
                        <form action="/review/search/all/" name="edit" method="GET" class="input-group">
                            <label for="selectSizing" class="mb-2"></label>
                            <div class="width-120">
                                <select onchange="option_bt(this.value);" data-choices='{"searchEnabled":false}' class="form-control">
                                    <option value="all">전체</option>
                                    <option value="title">제목</option>
                                    <option value="titleandcontent">제목+내용</option>
                                    <option value="nickname">작성자</option>
                                </select>
                            </div>
                            &nbsp;&nbsp;
                            <input type="text" name="keyword" class="form-control" placeholder="키워드를 입력해 주세요." />
                            <button type="submit" class="btn btn-secondary">
                                <span aria-hidden="true" class="glyphicon glyphicon-search">검색</span>
                            </button>
                        </form>
                    </div>
                </div>
          <!-- 글쓰기 버튼 -->
                <div class="width-30">
                    <a href="/review/write" class="btn btn-outline-secondary">글쓰기</a>
                </div>
                    <nav aria-label="Page navigation example">
                        <br>
                        <ul class="pagination justify-content-center"
                        	th:with="start=${T(Math).floor(reviewList.number/10) * 10 + 1},
              						last=${start + 9 < reviewList.totalPages ? start + 9 : reviewList.totalPages}">
                            
                            <!-- first page -->
                            <li class="page-item" >
						      <a class="page-link" th:href="@{./(keyword=${param.keyword}, page=1)}" aria-label="First">
						        <span aria-hidden="true"> FIRST </span>
						      </a>
						    </li>
						    
                            <!-- previous page -->
                            <li class="page-item" th:class="${reviewList.first} ? 'disabled'">
                                <a class="page-link" th:href="${reviewList.first} ? '#' : @{./(keyword=${param.keyword}, page=${reviewList.number})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            
                            <!-- present page -->
                            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == reviewList.number + 1} ? 'active'">
                            <a class="page-link" th:text="${page}" th:href="@{./(keyword=${param.keyword}, page=${page})}">&nbsp;</a>
                            </li>
							
							<!-- next page -->
                            <li class="page-item" th:class="${reviewList.last} ? 'disabled'">
                                <a class="page-link" th:href="${reviewList.last} ? '#' : @{./(keyword=${param.keyword}, page=${reviewList.number + 2})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            
                            <!-- last page -->
                            <li class="page-item">
						      <a class="page-link" th:href="@{./(keyword=${param.keyword}, page=${reviewList.totalPages})}" aria-label="Last">
						        <span aria-hidden="true">LAST</span>
						      </a>
						    </li>
						    
                        </ul>
                    </nav>
	           </div>
	       </div>
	   </main>
</th:block>
<th:block layout:fragment="script">
<script th:inline="javascript" src="/js/bitravel/reviewList.js"></script>
</th:block>
</html>