<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- include libraries(jQuery, bootstrap) -->
<!-- 		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" -->
<!-- 			rel="stylesheet"> -->
<!-- 		<script	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> -->
<!-- 		<script	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> -->
        <!-- include summernote css/js-->
		<link href="/css/summernote-lite.css" rel="stylesheet">
		<!--File uploader-->
	    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
	    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
	    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
	        rel="stylesheet">
		
        <!-- Main CSS -->
<!--         <link rel="stylesheet" th:href="@{/css/style.css}" /> -->
        <!--모달-->
        <style> .note-dialog .modal-dialog{ z-index:1050; } .modal-nav </style>

        <title>여행 후기 작성 페이지 :: BITravel</title>
    </head>
	
	<!-- 모달 내부 내용 -->
	<th:block layout:fragment="modal-board">
           <div class="modal" id="myModal_1">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content note-dialog modal-dialog">
	
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">여행지 조회</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<!--Modal navbar-->
					<div class="modal-nav">
	
					</div>
					<!-- Modal body -->
					<div class="modal-body">
	
						<div class="btn-group">
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">여행지명</button>
							</div>
	
							<div>
								<form class="d-flex" >
									<input class="form-control me-2" type="text" id="name" onkeypress="findTravelName()" placeholder="Search" >
									<input type="text" style="width:0px; visibility: hidden;">
									<button class="btn btn-primary" type="button" onclick="findTravelName();">Search</button>
								</form>
							</div>
						</div>
						<!--테이블-->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>번호</th>
									<th>여행지</th>
									<th>주소</th>
									<th>id</th>
								</tr>
							</thead>
							<tbody id="list">
	
							</tbody>
						</table>
					</div>
	
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
	
				</div>
			</div>
		</div>
	</th:block>
        <!--Main content-->
    <th:block layout:fragment="content">
        <main class="main-content position-relative z-index-2 bg-white" id="main-content">
            <section class="position-relative bg-light">
                <div class="container  pt-11 pb-7 pb-lg-9">
                    <div class="row pt-lg-5">
                        <div class="col-lg-8">
                            <h2 class="display-4">여행후기 작성</h2>
                            <p>Layout footer fixed at bottom using pure javascript code </p>
                        </div>
                    </div>
                </div>

            </section>
            
            <!-- 글작성 창 시작-->
            <section class="position-relative">
                <div class="container py-3 py-lg-5">
                    <div class="row mb-4 justify-content-center">
					<!-- 모달 버튼 -->
                        <form id="form" class="form-horizontal" name="only-form">
						<div class="form-group" name="form-line">
							<div style="display: flex;">
								<input type="hidden" id="latitude0" class="form-control"	placeholder="위도" />
								<input type="hidden" id="longitude0" class="form-control"	placeholder="경도" />
								<input type="hidden" id="travelId0" class="form-control"	placeholder="여행지 Id" />
								<input type="text" id="travelName0" class="form-control mb-2"
									placeholder="여행지를 입력해 주세요." readonly/>
								<button type="button" class="btn btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#myModal_1" style="margin-left: 10px;">
								등록 
								</button>
								<button type="button" class="btn btn btn-primary mb-2" onclick="addTravel();" style="margin-left: 10px;">
								추가
								</button>
								
							</div>
						</div>

						<div class="form-group">
							<div>
								<input type="text" id="reviewTitle" class="form-control mb-2" placeholder="제목을 입력해 주세요." />
							</div>
						</div>

						<div class="form-group">
							<div>
								<textarea id="summernote" name="editordata"></textarea>
							</div>
						</div>

						<div class="btn_wrap text-center">
							<button type="button" onclick="goBack();"
								class="btn btn-outline-secondary waves-effect waves-light">뒤로가기</button>
							<button type="button" onclick="save();"
								class="btn btn-secondary waves-effect waves-light">저장하기</button>
						</div>
						</form>
                    </div>
                </div>
            </section>
        </main>
    </th:block>
        <!-- 글작성 창 종료 -->
<th:block layout:fragment="script">
	<script src="/js/summernote-lite.js"></script>
	<script src="/js/summernote-ko-KR.js"></script>
    <script th:inline="javascript">
	/*<![CDATA[*/
		/**
		* 모달창 앞으로 이동
		**/

		$('#myModal_1').appendTo("body") 
		
		/**
		* 썸머노트 에디터
		**/
		
		$(document).ready(function() {
			 $('#summernote').summernote({
		    		placeholder: '내용을 입력하세요. (10자 이상)',
		    		minHeight: 370,
		    		maxHeight: null,
		    		focus: true,
		    		lang: 'ko-KR',
	    			callbacks : { //다중 이미지 처리 반복문..
						onImageUpload : function(files, editor, welEditable) {
							for (var i = 0; i < files.length; i++) {
								sendFile(files[i], this);
							}
						}
					}
		    	});
			 console.log("인식여부");
	         findreview();
		});
	
		function sendFile(file, el) {
			var form_data = new FormData();
			form_data.append('file', file);
			$.ajax({
				data : form_data,
				type : "POST",
				url : '/image',
				cache : false,
				contentType : false,
				enctype : 'multipart/form-data',
				processData : false,
				success : function(url) {
					$(el).summernote('insertImage', url, function($image) {
						$image.css('width', "50%");
						console.log(url);
					});
				}
			});
		}
			
		/**
		* 여행지 이름으로 리스트 조회
		**/
		 
		 function findTravelName() {
			
			let input = document.getElementById('name');
			var url = '/api/travels/name/' + input.value;
			
			fetch(url).then(response => {
				if (!response.ok) {
					console.log("Request failed...");
					throw new Error('Request failed...');
				}
				return response.json();
				console.log("good")
			}).then(json => {
				let html = '';

				if (!json.length) {
					html = '<td colspan="4">등록된 여행지가 없습니다.</td>';
				} else {
					json.forEach((obj, idx) => {
						html += `
							<tr>
    							<td>${json.length - idx}</td>
    							<td class="text-left">
    								<a href="javascript: void(0);" onclick="put('${obj.travelId}','${obj.travelName}','${obj.latitude}','${obj.longitude}');">${obj.travelName}</a>
    							</td>
    							<td>${obj.address}</td>
    							<td>${obj.travelId}</td>
							</tr>
						`;
					});
				}

				document.getElementById('list').innerHTML = html;
			});
		}
		
		/**
	        * 유효성 검사
	        */
	       function isValid() {
	       
	         	const form = document.getElementById('form');
	       
	       	if (!form.reviewTitle.value.trim()) {
	       		alert('제목을 입력해 주세요.');
	       		form.reviewTitle.value = '';
	       		form.reviewTitle.focus();
	       		return false;
	       	}
	       
	       
	       	if (!form.summernote.value.trim()) {
	       		alert('내용을 입력해 주세요.');
	       		form.summernote.value = '';
	       		form.summernote.focus();
	       		return false;
	       	}
	       
	       	return true;
	       }
		
		/**
         * 게시글 등록(생성/수정)
         */
        function save() {
        
        	if ( !isValid() ) {
        		return false;
        	}
        	
        	const form = document.getElementById('form');
        	var allTravel = document.getElementsByName('form-line').length;
        	var tIdArray = [];
        	var tNameArray = [];
        	var latitudeArray = [];
        	var longitudeArray = [];
        	
        	for (var i = 0; i < allTravel; i++) {
        		var travelId = 'travelId' + i;
        		var travelName = 'travelName' + i;
        		var latitude = 'latitude' + i;
        		var longitude = 'longitude' + i;
       			var tid = document.getElementById(travelId).value
        		var tname = document.getElementById(travelName).value
        		var tlatitude = document.getElementById(latitude).value
        		var tlongitude = document.getElementById(longitude).value
        		
       			if(tid !== "") {
       				tIdArray.push(tid);
       				tNameArray.push(tname);
       				latitudeArray.push(tlatitude);
       				longitudeArray.push(tlongitude);
        		}
        	}
        	
        	const rimage = form.summernote.value;
        	const thumbNail = rimage.match("<img[^>]*src=[\"']?([^>\"']+)[\"']?[^>]*>");
        	
			const params = {
            		travelName: tNameArray,
            		latitude: latitudeArray,
            		longitude: longitudeArray,
            		reviewTitle: form.reviewTitle.value,
            		reviewContent: form.summernote.value,
            		travelId : tIdArray,
            		thumbNail : null
            	};
			
        	if (thumbNail !== null){
        		 params.thumbNail = thumbNail[1]
        	} 
        	console.log(params);
        	
        	const id = /*[[ ${id} ]]*/;
        	const uri = ( id ) ? `/api/reviews/${id}` : '/api/reviews';
        	const method = ( id ) ? 'PATCH' : 'POST';
        	
        	fetch(uri, {
        		method: method, /*데이터 생성은 무조건 post 방식 이용*/
        		headers: {'Content-Type': 'application/json'}, /*API 호출 시, GET 방식이 아닌 요청은 Content-Type을 application/json으로 설정한다. */
        		body: JSON.stringify(
        				params) /*데이터 전달에 사용되는 옵션으로, params 객체에 담긴 게시글 정보를 API 서버로 전달한다.*/
        
        	}).then(response => {
        		if (!response.ok) {
        			throw new Error('Request failed...');
        		}
        		if (!id) {
        			alert('저장되었습니다.');
        			location.href = '/review';
        		} else {
        			alert('저장되었습니다.');
					location.href = '/review/'+id;
        		}
        		
        	}).catch(error => {
        		alert('오류가 발생하였습니다.');
        	});
        }
		
		/**
		 * 리뷰글 상세 조회
		 */
		function findreview() {

		    const id = /*[[ ${id} ]]*/;

		    if ( !id ) {
		    	return false;
		    }
		    fetch(`/api/reviews/${id}`).then(response => {
		    	if (!response.ok) {
					throw new Error('Request failed...');
			    }
		    	console.log("id: "+id);
		    	return response.json();

		   	}).then(json => {
		   		console.table(json);
		   		const form = document.getElementById('form');
		   		form.reviewTitle.value = json.reviewTitle;
		   		$('#summernote').summernote('code', json.reviewContent); // summernote html코드로 받으려면 'code'사용!
		   		

		   	}).catch(error => {
		    	alert('게시글 정보를 찾을 수 없습니다.');
		    	location.href = '/review';
		   	});
		}
		
		/**
		* 뒤로가기 
		**/
		
		function goBack() {
			
			const id = /*[[ ${id} ]]*/;
			
			if(!id)
				location.href = '/review';
			else
				location.href = '/review/'+id;
			
		}
		/**
         * 여행지 삽입
         **/
		function put(travelId, travelName, latitude, longitude) {
        	var travelId = travelId;
        	var travelName = travelName;
        	var latitude = latitude;
        	var longitude = longitude;
        	var allSelect = (document.getElementsByName('form-line').length);

        	//모달창 닫기
        	if (allSelect == 1){
        		$("#myModal_1").modal("hide");
        		$("#travelId0").val(travelId);
            	$("#travelName0").val(travelName);
            	$("#latitude0").val(latitude);
            	$("#longitude0").val(longitude);
        	}else if(allSelect == 2){
        		$("#myModal_1").modal("hide");
        		$("#travelId1").val(travelId);
            	$("#travelName1").val(travelName);
            	$("#latitude1").val(latitude);
            	$("#longitude1").val(longitude);
        	}else {
        		$("#myModal_1").modal("hide");
        		$("#travelId2").val(travelId);
            	$("#travelName2").val(travelName);
            	$("#latitude2").val(latitude);
            	$("#longitude2").val(longitude);
       		}	
        }
		/**
		*여행지 하나 추가하기
 		**/
 		
 		function addTravel() {
 			var allSelect = (document.getElementsByName('form-line').length);
			var allSelect1 = allSelect + 1;
			
 			if (allSelect == 3) {
 				alert('최대 3곳까지 등록할 수 있습니다.');
 				return false;
 			}

 			var travelId = 'travelId' + allSelect;
 			var travelName = 'travelName' + allSelect;
 			//tag = "<label for= reviewTravel' name='line'>여행지</label>\n";
 			tag = "<div style='display: flex;'>\n";
 			tag += "<input type='hidden' id='latitude" + allSelect + "'class='form-control'placeholder='위도'/>\n";
 			tag += "<input type='hidden' id='longitude" + allSelect + "'class='form-control'placeholder='경도'/>\n";
 			tag += "<input type='hidden' id='travelId" + allSelect + "'class='form-control'placeholder='여행지 Id'/>\n";
 			tag += "<input type='text' id='travelName" + allSelect + "' class='form-control mb-2' placeholder='여행지를 선택해 주세요.' readonly/>\n ";
 			tag += "<button type='button' class='btn btn-outline-danger mb-2' id='removeBt" + allSelect + "'onclick='removeTravel(this.id)' style='margin-left: 10px;'>삭제</button>\n </div>"
 			var div = document.getElementsByName('only-form')[0];
 			var newElement = document.createElement('div');
 			var firstChild = div.firstChild;
 			newElement.setAttribute('class', 'form-group');
 			newElement.setAttribute('name', 'form-line');
 			newElement.setAttribute('id', 'removeId'+allSelect)
 			newElement.innerHTML = tag;
 			div.insertBefore(newElement, firstChild);
 		}
		
 		
 		
		
 		/**
 		* 여행지 삭제
 		**/
 		function removeTravel(id) {
 			var allSelect = (document.getElementsByName('form-line').length);
 			
 			var ele1 = document.getElementById('removeId1');
 			var ele2 = document.getElementById('removeId2');
 			
 			if (id == 'removeBt1') {
 				ele1.remove();
 				return true;
 			} else if (id == 'removeBt2'){
 				ele2.remove();
 				return true;
 			} else {
 				alert("다시한번 시도해 주세요.")
 				return false;
 			}
 		}
 		
	/*]]>*/
    </script>
</th:block>
</html>
