<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorator="layout1" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="'&ldquo;'+${keyword}+'&rdquo; 게시판 검색 결과 :: Bitravel'">게시판 검색 결과 :: Bitravel</title>
</head>

<body>
    <br>
    <th:block layout:fragment="content">
        <!--메인 -->
        <main class="main-content position-relative z-index-2 bg-white" id="main-content">
            <section class="position-relative bg-light">
                <div class="container pt-11 pb-7 pb-lg-9">
                    <div class="row pt-lg-5">
                        <div class="col-lg-8">
                            <h2 class="display-4" th:text="'&ldquo;'+${keyword}+'&rdquo; 키워드 게시판 검색 결과'"></h2>
                            <br>
                            <h5 th:text="'총 '+${count}+'개 게시물'"></h5>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <br>
        <section class="position-relative overflow-hidden">
            <div class="container mt-5">
                <div class="row me-2" id="list">
                    <div th:each="list, index: ${boardList}" class="bg-white col-md-6 col-lg-4 mb-5 border-bottom">
                       <article class="card-hover border-0 me-5 d-flex" style="min-height:220px;">
                                <a th:href="@{'/board/'+${list.boardId}}" class="stretched-link"></a>
                                <div class="card-body position-relative p-0">
                                    <h5 class="mb-3">[[${list.boardTitle}]]</h5>
                                    <div class="blog-content">
                                        <div class="text-primary fw-semibold small pb-2" th:text="${#dates.format(list.boardDate, 'yyyy-MM-dd &nbsp;HH:mm')}+'&nbsp;&nbsp;&nbsp;&nbsp;조회수 '+${list.boardView}"></div>
                                        <p th:text="${#strings.abbreviate(list.boardContent, 105)}" class="mb-4" style="word-break:break-word;"></p>
                                    </div>
                                </div>
                            </article>
                    </div>
                </div>
            </div>
        </section>
        <nav aria-label="Page navigation example">
            <br>
            <ul class="pagination justify-content-center" th:with="start=${T(Math).floor(boardList.number/10) * 10 + 1},
              						last=${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages}">

                <!-- first page -->
                <li class="page-item">
                    <a class="page-link" th:href="@{/search/board/(page=1, keyword=${param.keyword})}" aria-label="First">
                        <span aria-hidden="true"> FIRST </span>
                    </a>
                </li>

                <!-- previous page -->
                <li class="page-item" th:class="${boardList.first} ? 'disabled'">
                    <a class="page-link" th:href="${boardList.first} ? '#' : @{/search/board/(page=${boardList.number}, keyword=${param.keyword})}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- present page -->
                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'">
                            <a class="page-link" th:text="${page}" th:href="@{/search/board/(page=${page}, keyword=${param.keyword})}">&nbsp;</a>
                            </li>
							
							<!-- next page -->
                            <li class="page-item" th:class="${boardList.last} ? 'disabled'">
                                <a class="page-link" th:href="${boardList.last} ? '#' : @{/search/board/(page=${boardList.number + 2}, keyword=${param.keyword})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            
                            <!-- last page -->
                            <li class="page-item">
						      <a class="page-link" th:href="@{/search/board/(page=${boardList.totalPages}, keyword=${param.keyword})}" aria-label="Last">
						        <span aria-hidden="true">LAST</span>
						      </a>
						    </li>
						    
                        </ul>
                    </nav>
                    <br><br>
    </th:block>
</body>

</html>