<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>마이 페이지 :: BITravel</title>
</head>

<th:block layout:fragment="content">
	<!--메인 -->
	<main class="main-content" id="main-content">
		<section class="position-relative bg-white">
			<div class="container position-relative pt-3 pb-4">
				<div class="row">
					<div class="col-md-6">
						<nav class="d-md-flex" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item">
									<a href="#!">Home</a>
								</li>
								<li class="breadcrumb-item active">
									Profile
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<!--/.row-->

			</div>
		</section>
		<section class="position-relative">
			<div class="container position-relative">
				<div class="overflow-hidden">

					<!--Profile info header-->
					<div class="position-relative pb-5 pb-lg-1">
						<div class="row">
							<div class="col-lg-3 mb-5 mb-lg-0">
								<div class="h-lg-100">
									<div class="card bg-gradient-light h-lg-100 p-3">
										<div>
											<!--profile image-->
<!-- 											<th:block th:if="${user.userImage eq ''}"> -->
<!-- 												<div class="m-7 lp-10 size-140 rounded-circle shadow bg-no-repat overflow-hidden bg-contain" style="background-image: url(assets/img/bitravel/user_default.png);"></div> -->
<!-- 											</th:block> -->
<!-- 											<th:block th:unless="${user.userImage eq ''}"> -->
												<div class="m-5 size-170  rounded-circle shadow bg-no-repat overflow-hidden bg-contain">
													<img th:src="${user.userImage}" onerror="this.onerror=null; this.src='/assets/img/bitravel/user_default.png';" alt="" style="width: 100%; height: 100%;">
												</div>
<!-- 											</th:block> -->
<!-- 											<img th:src="@{/assets/img/bitravel/user_default.png}"> -->
											
											<h4 class="d-flex justify-content-center mb-2" th:text="${user.nickname}"></h4>
											<ul class="list-unstyledclass="btn btn-secondary rounded-pill py-0 ps-0 pe-3"">
												<li class="d-flex align-items-stretch mb-1" style="height: 30px;">
													<p class="small">등급 :&nbsp;</p>
													<small class="d-flex mb-3" th:text="${user.level}"></small>
												</li>
												<li class="d-flex align-items-stretch mb-1" style="height: 30px;">
													<p class="small">포인트 :&nbsp;</p>
													<small class="d-flex mb-3" th:text="${user.point}"></small>
												</li>
												<li class="d-flex align-items-stretch mb-2" style="height: 30px;">
													<i class="bi bi-globe me-2 align-middle text-muted"></i>
<!-- 													<a onclick="location.href='mailto:${user.email}'" class="small link-hover-decoration" th:text="${user.email}"></a> -->
													<a th:href="@{'mailto:' + ${user.email}}" class="small link-hover-decoration" th:text="${user.email}"></a>
												</li>
											</ul>
<!-- 											<ul class="list-unstyled border-bottom pb-3 mb-3"> -->
<!-- 												<li class="d-flex justify-content-between align-items-center mb-2"> -->
<!-- 													<span class="small">Followers</span> -->
<!-- 													<span class="fs-5">134</span> -->
<!-- 												</li> -->
<!-- 												<li class="d-flex justify-content-between align-items-center mb-2"> -->
<!-- 													<span class="small">Following</span> -->
<!-- 													<span class="fs-5">23</span> -->
<!-- 												</li> -->
<!-- 											</ul> -->
<!-- 											<div class="d-grid"> -->
<!-- 												<button class="btn btn-light border shadow-sm mb-2 py-1" -->
<!-- 													type="button"><i -->
<!-- 														class="bi bi-person-plus fs-6 align-middle lh-1"></i> -->
<!-- 													Follow</button> -->
<!-- 												<button class="btn btn-primary shadow-sm py-1" type="button"><i -->
<!-- 														class="bi bi-envelope fs-6 align-middle lh-1"></i> -->
<!-- 													Message</button> -->
<!-- 											</div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="d-flex flex-column h-100">
									<nav class="nav mb-5 nav-pills">
										<a href="/mypage" class="nav-link active"> <i
												class="bi bi-person-circle me-2 align-middle"></i>나의 정보</a>
										<a href="/mypage/setting" class="nav-link"><i
												class="bi bi-gear me-2 align-middle"></i>회원정보 수정</a>
									</nav>

									<div class="card shadow-sm p-3 h-100">
										<h5 class="mb-4">기본 정보</h5>

										<div class="row align-items-center">
											<div class="col-md-6 mb-3">
												<label class="form-label">이름</label>
												<div class="form-control" th:text="${user.realname}">
												</div>
											</div>
											<div class="col-md-6 mb-3">
												<label class="form-label">이메일</label>
												<div class="form-control" th:text="${user.email}">
												</div>
											</div>


											<div class="col-md-6 mb-3">
												<label class="form-label">성별</label>
												<div class="form-control" th:if="${user.gender == 'Man'	 }" th:text="남성"></div>
												<div class="form-control" th:if="${user.gender == 'Woman'   }" th:text="여성"></div>
												<div class="form-control" th:if="${user.gender == 'Private' }" th:text="비공개"></div>
											</div>
											<div class="col-md-6 mb-3">
												<label class="form-label">나이</label>
												<div class="form-control" th:text="${user.age}"></div>
											</div>
											<div class="col-md-3 mb-3">
												<label class="form-label">거주 지역</label>
												<div class="form-control" th:text="${user.userLargeGov}">
												</div>
											</div>
											<div class="col-md-3 mb-3">
												<label class="form-label"></label>
												<div class="form-control" th:text="${user.userSmallGov}">   
												
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--내가 작성한 후기-->
		<section class="overflow-hidden position-relative">
			<div class="position-absolute start-0 top-0 w-100 h-50 "></div>
			<div class="container py-7 py-lg-12 position-relative">
				<div class="row mb-4 mb-lg-5 align-items-center">
					<div class="col-md-8">
						<div class="mb-3" data-aos data-aos-once="false">
							<h1 class="mb-3 splitting-down display-4" data-splitting>내가
								작성한 후기</h1>
						</div>
					</div>
					<div class="col-md-4">
						<div
							class="position-relative d-flex justify-content-md-end align-items-center">
							<!--Buttons navigation-->
							<div
								class="swiper3-button-prev swiper-button-prev mt-0 position-static rounded-pill size-50 border border-primary text-primary bg-transparent me-2">
							</div>
							<div
								class="swiper3-button-next swiper-button-next mt-0 position-static rounded-pill size-50 border border-primary text-primary bg-transparent">
							</div>
						</div>
					</div>
				</div>
				
<!-- 				<th:block th:if="${#lists.size(reviewList) eq null}"> -->
<!-- 				<th:block th:if="${reviewList == null"> -->
				<th:block th:if="${#lists.size(reviewList) ne 0}">
					<div class="swiper-container swiper-3 overflow-visible">
						<div class="swiper-wrapper">
							<div class="swiper-slide" th:each="list: ${reviewList}">
								<div class="vh-auto bg-white">
									<article class="card-hover border-0 d-flex">
										<a th:href="@{'/review/'+${list.reviewId}}" class="stretched-link"></a>
										<div class="card-body position-relative p-0" >
											<div class="d-block position-relative overflow-hidden mb-4" style="text-align: center;">
												<img th:src="${list.thumbNail}" onerror="this.onerror=null; this.src='/assets/img/avatar/2.jpg';" style="height:400px " class="img-fluid img-zoom" alt="">
											</div>
											<h5 class="mb-3">[[${list.reviewTitle}]]</h5>
											<div class="blog-content">
											<!-- <p class="mb-4">[[${list.reviewContent}]]</p> -->
											<div class="text-primary fw-semibold small pb-2 border-bottom border-primary" th:text="${#dates.format(list.reviewDate, 'yyyy-MM-dd')}">
													[[${list.reviewDate}]]</div>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</th:block>
				<th:block th:unless="${#lists.size(reviewList) ne 0}">
					<div class="swiper-container swiper-3 overflow-visible">
						게시글이 없습니다.
					</div>
				</th:block>
			</div>
		</section>

		<!--내가 작성한 게시글-->
		<section class="overflow-hidden position-relative">
			<div class="position-absolute start-0 top-0 w-100 h-50 ">
			</div>
			<div class="container py-7 py-lg-12 position-relative">
				<div class="row mb-4 mb-lg-5 align-items-center">
					<div class="col-md-8">
						<div class="mb-3" data-aos data-aos-once="false">
							<h1 class="mb-3 splitting-down display-4" data-splitting>내가 작성한 게시글
							</h1>
						</div>
					</div>
					<div class="col-md-4">
						<div class="position-relative d-flex justify-content-md-end align-items-center">
							<!--Buttons navigation-->
							<div
								class="swiper3-button-prev swiper-button-prev mt-0 position-static rounded-pill size-50 border border-primary text-primary bg-transparent me-2">
							</div>
							<div
								class="swiper3-button-next swiper-button-next mt-0 position-static rounded-pill size-50 border border-primary text-primary bg-transparent">
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-container swiper-3 overflow-visible">
					<div class="swiper-wrapper">

						<!--Slide-->
						<div class="swiper-slide">

							<!--Article-->
							<article class="card-hover position-relative">
								<div class="d-block overflow-hidden">
									<img src="assets/img/800x600/2.jpg" alt="" class="img-fluid position-relative">
								</div>
								<div class="position-relative p-4">
									<div class="d-flex justify-content-start w-100 pb-3 align-items-center">
										<small class="text-muted">후기 이름_1</small>
									</div>
									<div class="link-multiline fs-4 fw-semibold">
										여행지 이름 / 작성자 / 작성자 레벨 / 관력태그 / 좋아요 / 싫어요
									</div>
								</div>
								<a href="#" class="stretched-link"></a>
							</article>
						</div>
						<!--Slide-->
						<div class="swiper-slide">

							<!--Article-->
							<article class="card-hover position-relative">
								<div class="d-block overflow-hidden">
									<img src="assets/img/800x600/1.jpg" alt="" class="img-fluid position-relative">
								</div>
								<div class="position-relative p-4">
									<div class="d-flex justify-content-start w-100 pb-3 align-items-center">
										<small class="text-muted">후기 이름_2</small>
									</div>
									<div>
										<div class="link-multiline fs-4 fw-semibold">
											여행지 이름 / 작성자 / 작성자 레벨 / 관력태그 / 좋아요 / 싫어요
										</div>
									</div>
								</div>
								<a href="#" class="stretched-link"></a>
							</article>
						</div>
						<!--Slide-->
						<div class="swiper-slide">

							<!--Article-->
							<article class="card-hover position-relative">
								<div class="d-block overflow-hidden">
									<img src="assets/img/800x600/3.jpg" alt="" class="img-fluid position-relative">
								</div>
								<div class="position-relative p-4">
									<div class="d-flex justify-content-start w-100 pb-3 align-items-center">
										<small class="text-muted">후기 이름_3</small>
									</div>
									<div>
										<div class="link-multiline fs-4 fw-semibold">
											여행지 이름 / 작성자 / 작성자 레벨 / 관력태그 / 좋아요 / 싫어요
										</div>
									</div>
								</div>
								<a href="#" class="stretched-link"></a>
							</article>
						</div>
						<!--Slide-->
						<div class="swiper-slide">

							<!--Article-->
							<article class="card-hover position-relative">
								<div class="d-block overflow-hidden">
									<img src="assets/img/800x600/4.jpg" alt="" class="img-fluid position-relative">
								</div>
								<div class="position-relative p-4">
									<div class="d-flex justify-content-start w-100 pb-3 align-items-center">
										<small class="text-muted">후기 이름_4</small>
									</div>
									<div>
										<div class="link-multiline fs-4 fw-semibold">
											여행지 이름 / 작성자 / 작성자 레벨 / 관력태그 / 좋아요 / 싫어요
										</div>
									</div>
								</div>
								<a href="#" class="stretched-link"></a>
							</article>
						</div>
						<!--Slide-->
						<div class="swiper-slide">

							<!--Article-->
							<article class="card-hover position-relative">
								<div class="d-block overflow-hidden">
									<img src="assets/img/800x600/5.jpg" alt="" class="img-fluid position-relative">
								</div>
								<div class="position-relative p-4">
									<div class="d-flex justify-content-start w-100 pb-3 align-items-center">
										<small class="text-muted">후기 이름_5</small>
									</div>
									<div>
										<div class="link-multiline fs-4 fw-semibold">
											여행지 이름 / 작성자 / 작성자 레벨 / 관력태그 / 좋아요 / 싫어요
										</div>
									</div>
								</div>
								<a href="#" class="stretched-link"></a>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</th:block>

</html>
