<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>마이 페이지 :: BITravel</title>
	</head>
	
	<style>
	.form-control[readonly] {
		background-color: #9297ad !important;
		opacity: 1;
	}
	</style>
	
	<!--메인 -->
	<th:block layout:fragment="content">
		<main class="main-content" id="main-content">
			<section class="position-relative bg-white">
				<div class="container position-relative pt-3 pb-4">
					<div class="row">
						<div class="col-md-6">
							<nav class="d-md-flex" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item">
										<a href="#!">Home</a>
									</li>
									<li class="breadcrumb-item active">
										Profile
									</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--/.row-->

				</div>
			</section>
			<section class="position-relative">
				<div class="container position-relative">
					<div class="overflow-hidden">
						<!--Profile info header-->
						<div class="position-relative pb-7 pb-lg-12">
							<div class="row">
								<div class="col-lg-9 mx-auto">
									<div class="pt-5 d-flex flex-column h-100">
										<nav class="nav mb-5 nav-pills">
											<a href="/mypage" class="nav-link"><i class="bi bi-person-circle me-2 align-middle"></i>나의 정보</a>
											<a href="/mypage/setting" class="nav-link active"><i class="bi bi-gear me-2 align-middle"></i>회원정보 수정</a>
										</nav>
										<div class="card border-light p-3 mb-3">
											<h5 class="mb-4">회원정보 수정</h5>

											<!-- 개인정보 수정 -->
											<form action="/mypage/update" method="post">
												<input type="hidden" th:field="${user.email}">
												<div class="row align-items-center">
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-6 mb-4">
																<input type="file" class="size-190" id="update_profile" accept="image/png, image/jpeg, image/gif">
															</div>
														</div>
													</div>
													<div class="col-md-6 mb-3">
														<label class="form-label" for="realname">이름</label>
														<input type="text" class="form-control" th:field="${user.realname}" disabled>
													</div>
													<div class="col-md-6 mb-3">
														<label class="form-label" for="email">이메일</label>
														<input type="text" class="form-control" th:field="${user.email}" disabled>
													</div>
													<div class="col-md-6 mb-3">
														<label class="form-label" for="gender">성별</label>
														<select name="gender" data-choices='{"searchEnabled":false}' class="form-control">
															<option th:value="Man"     th:selected="${user.gender}=='Man'"    >남성</option>
															<option th:value="Woman"   th:selected="${user.gender}=='Woman'"  >여성</option>
															<option th:value="Private" th:selected="${user.gender}=='Private'">비공개</option>
														</select>
													</div>
													<div class="col-md-6 mb-3">
														<label class="form-label" for="age">나이</label>
														<input type="text" class="form-control" th:field="${user.age}" disabled>
													</div>
													<div class="col-md-6 mb-3">
														<label class="form-label" for="nickname">닉네임</label>
														<input type="text" class="form-control" th:field="${user.nickname}">
													</div>
													<div class="col-md-3 mb-3">
														<label class="form-label" for="country">거주지역</label>
														<select name="userLargeGov" id="userLargeGov" class="form-control">
															<option th:value="${user.userLargeGov}"><th:block th:text="${user.userLargeGov}"/></option>
														</select>
													</div>
													<div class="col-md-3 mb-3">
														<label class="form-label" for="country"></label>
														<select name="userSmallGov" id="userSmallGov" class="form-control">
															<option th:value="${user.userSmallGov}"><th:block th:text="${user.userSmallGov}"/></option>
														</select>
													</div>
													<div class="mb-3 d-flex flex-row-reverse">
														<div class="form-check">
															<input type="checkbox" class="form-check-input " value="" id="foreignCheck">
															<label class="form-check-label small" for="flexCheckDefault">해외 거주</label>
														</div>
													</div>
												</div>
												<hr class="mt-5 mb-3">
												<div class="text-end">
													<button type="submit" class="btn btn-outline-primary">저장</button>
												</div>
											</form>
											<!-- /개인정보 수정 -->
										</div>

										<!--Password card-->
										<div class="card border-light p-3 mb-3">
											<h5 class="mb-4">비밀번호 변경하기</h5>
												<div class="row">
													<div class="col-md-4 mb-3">
														<label for="update_pass_current" class="form-label">현재 비밀번호</label>
														<input type="password" class="form-control" name = "password" placeholder="현재 암호를 입력하세요.">
													</div>
													<div class="col-md-4 mb-3">
														<label for="update_pass_new" class="form-label">새로운 비밀번호</label>
														<input type="password" class="form-control" id = "changePassword" placeholder="새 암호를 6자 이상 입력하세요" >
													</div>
													<div class="col-md-4 mb-3">
														<label for="update_pass_new_confirm" class="form-label">새로운 비밀번호 재확인</label>
														<input type="password" class="form-control" id = "confirmPassword" placeholder="새 암호를 한번더 입력하세요">
													</div>
												</div>
												<div class="text-end">
													<button type="button" id="updatePassword" class="btn btn-outline-primary">비밀번호 변경</button>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</th:block>
	<!--메인 -->
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="/js/bitravel/mypage.js"></script>
	</th:block>

</html>
