<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/img/favicon.ico" type="image/ico">
<!--Icons-->
<link href="/assets/fonts/iconsmind/iconsmind.css" rel="stylesheet">
<link href="/assets/fonts/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<!--Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&display=swap"
	rel="stylesheet">
<!-- Main CSS -->
<link href="/assets/css/theme.min.css" rel="stylesheet">
<title>BITravel 회원가입</title>
</head>
<body>
    <!--Preloader Spinner-->
    <div class="spinner-loader bg-gradient-secondary text-white">
        <div class="spinner-border text-primary" role="status">
        </div>
        <span class="small d-block ms-2">Loading...</span>
    </div>
    <!--메인 -->

    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="bg-white position-relative">
			<div
				class="bg-pattern text-muted opacity-10 w-100 h-100 start-0 top-0 position-absolute"></div>
			<div
				class="bg-gradientwhite flip-y w-50 h-100 start-50 top-0 translate-middle-x position-absolute"></div>
			<div class="container py-9 pt-lg-12 position-relative z-index-1">
				<div class="row align-items-center justify-content-center">
					<div class=" col-xl-4 col-lg-5 col-md-6 col-sm-8 z-index-2">

						<h2 class="mb-1 display-6">BITravel<br>추가 정보 입력</h2>
						<p class="mb-4 text-muted">더욱 강력한 개인 맞춤형 서비스를 위한<br>추가정보를 입력해 주세요.</p>
                <div class="d-flex align-items-center bi-justify-left mb-2 pt-2">
                    <h5 class="mb-0 me-2 me-lg-4">&nbsp;&nbsp;국내 관심 여행 지역을
                    <br>&nbsp;&nbsp;등록해 주세요.</h5>
                    <h6 class="mb-0 me-2 me-lg-4">(최대 10곳)</h6>
                </div>
                <div class="d-flex align-items-center justify-left mb-2 pt-2">
                    
                    <span class="border-top d-block flex-grow-1 border-light"></span>
                </div>
                <div id="only-select">
                <div class="d-flex justify-content-xl-center mb-1 pt-1" id="selectGroup">
                    <select id="largeSelect0" name="large" class="form-control">
                        <option value="">시/도</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;
                    <select id="smallSelect0" name="small" class="form-control">
                        <option value="">시/군/구</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" onclick="addSelect()" class="btn btn-secondary" id="add">
                        + 추가</button>
                </div>
                </div>
                <hr class="mt-3 mb-3">
                <div class="d-flex justify-content-xl-center mb-4 pt-2">
                    <button type="button" onclick="save()" class="btn btn-outline-secondary" id="submit">
                    완료</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-secondary" id="reset">
                    취소</button>
                    &nbsp;&nbsp;&nbsp;

                </div>
            </div>
            </div>
            </div>
        </section>
 
    </main>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/theme.bundle.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {	
		loadLargeSelect('largeSelect0', 'smallSelect0');
		
		/**
	     * 광역지자체 값이 바뀔 때마다 기초자치단체 리스트 가져오기
	     */  
		     $(document).on("change", "select[name='large']", function(){
		    	 var allSelect = (document.getElementsByTagName('select').length)/2;
		    	 console.log("dds");
		    	$("select[name='large']").each (function () {
		    		var largeId = $(this).attr('id');
		    		var smallId = 'smallSelect' + largeId[11];
		   			console.log(largeId+" "+smallId+" to be changed");
		   			var largeSelect = document.getElementById(largeId);
		   			var smallSelect = document.getElementById(smallId);
		   			if(largeSelect.value == "") {
			    		smallSelect.disabled = true;
			    		smallSelect.disabled = 'disabled';
			    	} else {
			    		smallSelect.disabled = '';
			    		smallSelect.disabled = false;
			    		
			    		var url = '/api/regions/list/' + largeSelect.value;
			    		console.log(url);
			    		fetch(url).then(response => {
			    	    	
			    	    	if (!response.ok) {
			    				throw new Error('Request failed...');
			    		    }
			    	    	return response.json();
			    	    	
			    	   	}).then(json => {
			    	   		json = JSON.stringify(json);
			    	   		json.replace('[', '{').replace(']', '}');
			    	   		const newList = JSON.parse(json);
			    	   		var tag = "";
			    	   		console.log(smallSelect.value+"**"+largeSelect.value+": "+smallId);
			    	   		if(newList.indexOf(smallSelect.value)==-1) {	
			    	   			newList.forEach(function (item, index, array) {
				    	   			tag += "<option value='"+item+"'>"+item+"</option>\n";
				    	   		});
				    	   		smallSelect.innerHTML += tag;
				    	   		//console.log(smallSelect.innerHTML);
			    	   		}
			    	   	}).catch(error => {
			    	    	alert('리스트 불러오기에 실패했습니다.');
			    	   	});	
			    		
			    	}
		    	});
		     });
		
	});
	
	function loadLargeSelect(largeId, smallId) {		
		
		largeFirst = document.getElementById(largeId);
		
		if(largeFirst.value == "") {
			document.getElementById(smallId).disabled = true;
			document.getElementById(smallId).disabled = 'disabled';
    	} 
		
		/**
	     * 광역지자체 리스트 가져오기
	     */
	    fetch(`/api/regions/list`).then(response => {
	    	
	    	if (!response.ok) {
				throw new Error('Request failed...');
		    }
	    	return response.json();
	    	
	   	}).then(json => {
	   		
	   		// 리스트 형태이므로 대괄호를 중괄호로 바꾸어야 올바른 JSON 형식이 됨
	   		json = JSON.stringify(json);
	   		json.replace('[', '{').replace(']', '}');
	   		const newList = JSON.parse(json);
	   		var tag = "";
	   		newList.forEach(function (item, index, array) {
	   			tag += "<option value='"+item+"'>"+item+"</option>\n";
	   		});
	   		
	   		largeFirst.innerHTML += tag;
	   	}).catch(error => {
	    	alert('리스트 불러오기에 실패했습니다.');
	    	
	   	});
			
	}
	
	// Select 하나 추가하기
	function addSelect() {
		var allSelect = (document.getElementsByTagName('select').length)/2;
		
		if(allSelect == 10) {
			alert('최대 10곳까지 등록할 수 있습니다.');
			return false;
		}
				
		var largeId = 'largeSelect'+allSelect;
		var smallId = 'smallSelect'+allSelect;
		tag = "<select id='largeSelect"+allSelect+"' name='large' class='form-control large'>\n";
		tag += "<option value=''>시/도</option></select>&nbsp;&nbsp;&nbsp;\n<select id='smallSelect"+allSelect;
		tag += "' name='small' class='form-control small'><option value=''>시/군/구</option></select>&nbsp;&nbsp;&nbsp;\n<button type='button' onclick='addSelect()' class='btn btn-secondary' id='add'>+ 추가</button>\n";
		var div = document.getElementById('only-select');
		var newElement = document.createElement('div');
		newElement.setAttribute('id', 'selectGroup');
		newElement.setAttribute('class', 'd-flex justify-content-xl-center mb-1 pt-1');
		newElement.innerHTML = tag;
		console.log(newElement+" "+newElement.innerHTML);
		div.appendChild(newElement);
		loadLargeSelect(largeId, smallId);
	}
	
	//유효성 검사
	function isValid() {
		var flag = 0;
		var all = 1;
		var id = "";
		$("select[name='large']").each (function () {
			var idNow = $(this).attr('id');
			var now = document.getElementById(idNow).value;
			if (now=="") {
				if(all)
					id = idNow;
	    		all = 0;
	    	} else {
	    		flag = 1;
	    	}
		});
		
		$("select[name='small']").each (function () {
			var idNow = $(this).attr('id');
			var now = document.getElementById(idNow).value;	
			if (now=="") {
	    		all = 0;
	    		if(id == "")
		    		id = idNow;
	    		return false;
	    	}
		});
		
		if(!flag) {
			alert('최소 1개 이상의 선호 여행 지역을 선택해야 합니다.');
			document.getElementById('largeSelect0').focus();
			return false;
		}
		if(!all) {
			alert('선호 여행 지역 선택을 모두 완료해 주세요.')
			document.getElementById(id).focus();
			return false;
		}
		
		return true;
	}
	
	
	// 결과 UserRegion class에 저장
	function save() {
		
		if(!isValid())
			return false;
		console.log('validated');
		
		var allSelect = (document.getElementsByTagName('select').length)/2;
		
		var resultList = new Array();
		var userMail = "[[${userEmail}]]";
		
		for(var i=0;i<allSelect;i++) {
			var largeId = 'largeSelect'+i;
			var smallId = 'smallSelect'+i;
			
			var data = new Object();
				
			data.userEmail = userMail;
			data.largeGov = document.getElementById(largeId).value;
			data.smallGov = document.getElementById(smallId).value;
			
			resultList.push(data);
		}
		
		const param = JSON.stringify(resultList);
		console.log(param);
		
		fetch('/api/regions', {
    		method: 'POST', /*데이터 생성은 무조건 post 방식 이용*/
    		headers: { 
    			'Content-Type': 'application/json',
    		}, /*API 호출 시, GET 방식이 아닌 요청은 Content-Type을 application/json으로 설정한다. */
    		body: JSON.stringify(resultList) /*데이터 전달에 사용되는 옵션으로, params 객체에 담긴 게시글 정보를 API 서버로 전달한다.*/
    
    	}).then(response => {
    		if (!response.ok) {
    			if(response.status==500)
    				throw new Error('서버 오류입니다. 관리자에게 문의해 주세요.');
    			else
    				throw new Error('일시적인 오류입니다. 다시 시도해 보세요.');
    		}
    
    		alert('저장되었습니다.');
    		location.href = '/signup/third?userEmail='+ userMail;
    
    	}).catch(error => {
    		alert('오류가 발생하였습니다. \n'+error);
    	});
		
	}
	
	</script>
	
	
</body>

</html>
