<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/img/favicon.ico" type="image/ico">
<!--Icons-->
<link href="/assets/fonts/iconsmind/iconsmind.css" rel="stylesheet">
<link href="/assets/fonts/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<!--Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&display=swap"
	rel="stylesheet">
<!-- Main CSS -->
<link href="/assets/css/theme.min.css" rel="stylesheet">
<title>BITravel 회원가입</title>
</head>

<body>
    <!--Preloader Spinner-->
    <!-- <div class="spinner-loader bg-gradient-secondary text-white">
            <div class="spinner-border text-primary" role="status">
            </div>
            <span class="small d-block ms-2">Loading...</span>
        </div> -->
    <!--Header Start-->



<!--메인 -->

    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="bg-white position-relative">
			<div
				class="bg-pattern text-muted opacity-10 w-100 h-100 start-0 top-0 position-absolute"></div>
			<div
				class="bg-gradientwhite flip-y w-50 h-100 start-50 top-0 translate-middle-x position-absolute"></div>
			<div class="container py-9 pt-lg-12 position-relative z-index-1">
				<div class="row align-items-center justify-content-center" style="text-align:center;">
					<div class="col-xl-6 col-lg-5 col-md-6 col-sm-8 z-index-2" style="text-align:center;">
					<h2 class="mb-1 display-6">이제 거의 마무리되었습니다.</h2>
					<br>
					<h5 class="mb-0 me-2 me-lg-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아래 여행지들에 대한 당신의 선호도를 등록해 주세요.</h5>
					<br>
						<p class="mb-4 text-muted">
						    방문 여부와 관계 없이 개인 취향에 따라 선택해 주세요.
            	<br>10곳 이상 등록해 주신 모든 분들에게는 가입과 동시에
            	<br><span class="fw-bold">BITravel Coin 250개</span>가 지급됩니다.</p>
				</div>		
                </div>                   
                </div>             
        <div class="row justify-content-center">
                <article class="card-hover border-0 d-flex" style="width:80%;margin-bottom:50px;">
                    <div class="card-body position-relative p-0" id="card0">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="card-body position-relative p-0" id="card1">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <div class="card-body position-relative p-0" id="card2">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <div class="card-body position-relative p-0" id="card3">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

                <div class="row justify-content-center">
                <article class="card-hover border-0 d-flex" style="width:80%;margin-bottom:30px;">
                    <div class="card-body position-relative p-0" id="card4">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="card-body position-relative p-0" id="card5">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <div class="card-body position-relative p-0" id="card6">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <div class="card-body position-relative p-0" id="card7">
                        <div class="d-block position-relative overflow-hidden mb-4">
                            <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                        </div>
                        <h5 class="mb-3 text-center">강릉</h5>
                        <div class="blog-content justify-content-center">
                            <div
                                class="d-flex justify-content-md-evenly text-primary fw-semibold small pb-2  border-primary">
                                <button type="button" class="btn btn-rise btn-outline-info m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-info"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-up"></i></div>
                                </button>
                                <button type="button" class="btn btn-rise btn-outline-danger m-2 p-0 size-30 d-flex rounded-circle">
                                    <div class="btn-rise-bg bg-tint-danger"></div>
                                    <div class="btn-rise-text"><i class="fs-5 bi bi-hand-thumbs-down"></i></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
                    
                    <div class="d-flex align-items-center justify-content-center mb-3 pt-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="m-4 row justify-content-center">
                        <button type="button" class="btn btn-outline-secondary border-2 mb-2 me-1">저장</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/theme.bundle.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {	
			
			
			/**
		     * 해당 회원의 선호 지역에 따른 인기 여행지들 확인
		     */
		     userEmail = "[[${userEmail}]]";
		     url = '/api/regions/travels'+"?userEmail="+userEmail;
		    fetch(url).then(response => {
		    	
		    	if (!response.ok) {
					throw new Error('Request failed...');
			    }
		    	return response.json();
		    	
		   	}).then(json => {
		   		// 리스트 형태이므로 대괄호를 중괄호로 바꾸어야 올바른 JSON 형식이 됨
		   		json = JSON.stringify(json);
		   		json.replace('[', '{').replace(']', '}');
		   		const newList = JSON.parse(json);
		   		var tag = "";
		   		newList.forEach(function (item, index, array) {
		   			tag += "<option value='"+item+"'>"+item+"</option>\n";
		   		});
		   		largeSelect.innerHTML += tag;
		   		
		   	}).catch(error => {
		    	//alert('리스트 불러오기에 실패했습니다.');
		    	
		   	});
			
			
			
		});
	</script>
</body>

</html>
