<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/assets/img/favicon.ico" type="image/ico">
<!--Icons-->
<link href="/assets/fonts/iconsmind/iconsmind.css" rel="stylesheet">
<link href="/assets/fonts/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<!--Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&display=swap"
	rel="stylesheet">
<!-- Main CSS -->
<link href="/assets/css/theme.min.css" rel="stylesheet">
<title>BITravel 회원 가입</title>
</head>

<body>
	<!--Header Start-->
	<!--메인 -->

	<main class="main-content position-relative z-index-2 bg-white"
		id="main-content">
		<section class="bg-white position-relative" id="cardList">
			<div
				class="bg-pattern text-muted opacity-10 w-100 h-100 start-0 top-0 position-absolute"></div>
			<div
				class="bg-gradientwhite flip-y w-50 h-100 start-50 top-0 translate-middle-x position-absolute"></div>
			<div class="container py-9 pt-lg-12 position-relative z-index-1">
				<div class="row align-items-center justify-content-center"
					style="text-align: center;">
					<div class="col-xl-6 col-lg-5 col-md-6 col-sm-8 z-index-2"
						style="text-align: center;">
						<h2 class="mb-2 display-6">이제 거의 마무리되었습니다.</h2>
						<br>
						<h5 class="mb-0 me-2 me-lg-4">아래 여행지들에 대한 당신의 선호도를<br>솔직하게 선택해 주세요.</h5>
						<br>
						<p class="mb-0 text-muted">
							방문 여부와 관계 없이 개인 취향에 따라 등록해 주세요.<br>10곳 이상 등록해 주신 모든 분들께
							가입과 동시에 <br>
							<span class="fw-bold">BITravel Coin 250개</span>가 지급됩니다.
						</p>
					</div>
				</div>
			</div>
			</section>
			<div class="m-3 row justify-content-center">
				<button type="button" onclick="save()" 
					class="btn btn-outline-secondary border-2 col-3">저장</button>
			</div>		
	</main>
	<!-- scripts -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/assets/js/theme.bundle.js"></script>
	<script type="text/javascript" src="/js/bitravel/signup3.js"></script>
</body>

</html>
