<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
<h1 sec:authorize="isAuthenticated()"><span sec:authentication="principal.nickname"></span> 회원님</h1>
<div sec:authorize="isAuthenticated()">
<span sec:authentication="principal.authorities"></span>
<br></div>
Hello world
<br>
<button type="button" sec:authorize="isAnonymous()" id="login" onclick="location.href = '/login'">로그인하러가기</button>
<button type="button" sec:authorize="isAuthenticated()" id="logout" onclick="location.href='/api/logout'">로그아웃하기</button>
</body>
</html>