<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/ico">
    <!--Icons-->
    <link href="/assets/fonts/iconsmind/iconsmind.css" rel="stylesheet">
    <link href="/assets/fonts/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!--Flatpickr-->
    <link rel="stylesheet" href="/assets/vendor/flatpickr/flatpickr.min.css">

    <!--File uploader-->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">

    <!-- Main CSS -->
    <link href="/assets/css/theme.min.css" rel="stylesheet">
    <style>
        html,
        body {
            overflow-x: hidden;
        }
		.active>.page-link {
			background-color : 	#dcdcdc;
		}
        .btn-skyblue:hover {
            color:white;
        }
        .btn-skyblue {
            background-color:rgb(135, 215, 255);
            color:white;
        }

        .img-wrapper {
            position: relative;
            width:100%;
            height:0;
            padding-bottom:66.35%;
        }

        .img-wrapper .img-zoom {
            height:100%;
            width:100%;
            position:absolute;
            top:0;
            left:0;
        }

    </style>
    <title>Bitravel :: 나만의 여행을 그려보는 곳</title>
</head>

<body>
    <!--Header Start-->
    <header class="z-index-fixed">
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <div class="container position-relative">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/logo/bitravel-logo.svg" alt="" class="img-fluid" style="min-width:150px;">
                </a>
                <div class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
                    <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavbarTheme" aria-controls="mainNavbarTheme" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i></i>
                        </span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="mainNavbarTheme">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle fs-5 fw-bold" href="/travel"
                                role="button">여행지
                            </a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle fs-5 fw-bold" href="/review"
                                role="button">후기</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle fs-5 fw-bold" href="/board"
                                role="button">게시판
                            </a></li>
                    </ul>
                </div>
                <!--회원 정보 관련 : 회원 전용 메뉴 -->
                <div class="nav-item me-3 me-lg-0 dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="btn btn-secondary rounded-pill py-0 ps-0 pe-3" data-bs-auto-close="outside"
                        data-bs-toggle="dropdown">
                        <img th:src="${#authentication.principal.userImage}" onerror="this.src='/assets/img/avatar/2.jpg'" alt="" class="avatar sm rounded-circle me-1">
                            <span sec:authentication="principal.nickname"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs p-0">
                            <a href="/mypage" class="dropdown-header border-bottom p-4">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img th:src="${#authentication.principal.userImage}" onerror="this.src='/assets/img/avatar/2.jpg'" alt="" class="avatar xl rounded-pill me-3">
                                    </div>
                                    <div>
                                        <h5 class="mb-0" sec:authentication="principal.nickname"></h5>
                                        <span class="text-muted d-block mb-2" sec:authentication="principal.email"></span>
                                        <div class="small d-inline-block link-underline fw-semibold text-muted">
                                            마이페이지로 가기</div>
                                    </div>
                                </div>
                            </a>
                                <span class="d-block text-end dropdown-item p-3">
                                    <a href="/api/logout" class="text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
                                        </path>
                                    </svg>
                                    로그아웃
                                    </a>
                                </span>
                        </div>
                    </div>
                    <!--회원 정보 관련 : 비회원 메뉴 -->
                    <div class="nav-item me-3 me-lg-0 dropdown"  sec:authorize="isAnonymous()">
                        <a href="#" class="btn btn-secondary rounded-pill py-0 ps-0 pe-2" data-bs-auto-close="outside"
                            data-bs-toggle="dropdown">
                            <img src="/assets/img/avatar/2.jpg" alt="" class="avatar sm rounded-circle me-1">
                            로그인
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs p-0">
                            <span class="d-block text-center mt-4 mb-2 text-muted">
                            더 많은 Bitravel의 서비스를 즐겨 보세요.</span>
                            <span class="d-block text-end mb-2 me-3">
                            <a href="/login" class="text-dark me-2"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
									  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
									  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
									</svg> 
                                	로그인
                               </a>
                            <a href="/signup" class="text-dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
									  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
									  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
									</svg>
                                    가입  
                            </a>
                            </span>
                        </div>
                    </div>
            </div>
        </nav>
        <br>   
        <!-- 헤더 검색창 시작 -->
        <form action="/search" method="get">
        <div class="row">
            <div class="col-xl-6 col-sm-8 col-auto mx-auto d-flex">
                <input type="text" class="form-control" id="searchKeyword" name="keyword" placeholder="키워드를 입력하세요.">
                &nbsp;&nbsp;
                <button type="submit" class="ms-sm-1 btn btn-skyblue btn">
                    <span class="d-flex align-items-center fw-bold"> 
                        <span>검색</span>
                    </span>
                </button>
            </div>
        </div></form>
        <!-- 헤더 검색창 종료 -->
    </header>
    <br>
    <th:block layout:fragment="modal-board"></th:block>
    <th:block layout:fragment="content"></th:block>
            <!--Footer Start-->
    <footer id="footer-default" class="bg-light text-dark position-relative">
        <div class="container py-7 py-lg-9 position-relative z-index-1">
        <div class="row">

            <!--Footer col-->
            <div class="col-md-9 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex flex-column h-100 justify-content-between">
                <a class="col-md-11 col-sm-6 col-9 mb-4 mb-lg-0 d-block" href="/">
                    <img src="/assets/img/logo/bitravel-logo.svg" alt="" class="img-fluid" style="width:100%;">
                </a>
                </div>
            </div>
            <!--Footer col-->
            <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 ms-lg-auto mb-5 mb-md-0">
                <h5 class="mb-4 fw-bold">서비스</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="/travel" class="nav-link">
                            여행지
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/review" class="nav-link">
                            후기
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/board" class="nav-link">
                            게시판
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/mypage" class="nav-link">
                            마이페이지
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 ms-lg-auto mb-5 mb-md-0">
                <br>
                    <div>
                        <ul class="list-unstyled">
					<li><a href="https://www.data.go.kr/" target="_blank"><img src="/assets/img/bitravel/sigkor_log2.png" alt="공공데이터포털 DATA.GO.KR" /></a></li>
                    </ul>
                        <ul class="list-unstyled">
					<li><a href="https://api.visitkorea.or.kr/" target="_blank"><img src="/assets/img/bitravel/sigkor_log.png" style="width:132px;height:45px;" alt="한국관광공사 Tour API" /></a></li>
                    </ul>
                        <ul class="list-unstyled">
                    <li><a href="https://apis.map.kakao.com/" target="_blank"><img src="/assets/img/bitravel/sigkor_log3.png" 
                         style="width:132px;height:45px;" alt="Kakao Map API" /></a></li>
					</ul>
                    </div>
            </div>
            <!--Footer col-->
            <div class="col-md-4 col-sm-8 col-lg-3">
                <div class="d-flex flex-column justify-content-md-between h-100">
                    <div class="text-muted">
                        <p class="mb-2">
                            <strong>Bitravel Project</strong>
                        </p>
                        <p class="mb-3">
                            서울 서초구 서초대로74길 33
                            <br>
                            비트교육센터
                        </p>
                    </div>
                    <div class="mt-auto mb-0">
                        <a href="mailto:support@bitravel.com">
                            <strong>support@bitravel.com</strong>
                        </a>
                        <hr class="my-3">
                        <a href="tel:+011234567890">
                            <strong>+82 123 456 7890</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-sm-flex flex-sm-row justify-content-center justify-content-sm-between">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="javascript:alert('Bitravel에서는 보다 향상된 여행지 추천 서비스를 위하여,\n고객의 일부 개인정보 및 활동 기록을 사용합니다.\n해당 사항에 동의하지 않을 시 가입이 불가합니다.\n수집한 개인정보는 자체 서비스 향상에만 사용합니다.');" class="text-muted small">
                        이용약관
                    </a>
                </li>
            </ul>

            <small class="text-sm-end text-muted">
                © Copyright. All Right Reserved.<br> Made by Bitravel Project
            </small>
        </div>
    </div>
<!--container-->
    </footer>

    <!-- begin Back to Top button -->
    <a href="#" class="toTop">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 9" class="align-middle rotate-180" width="13"
            height="9">
            <path fill="currentColor"
                d="M12.25 2.30062L10.8988 0.949371L6.5 5.33854L2.10125 0.949371L0.75 2.30062L6.5 8.05062L12.25 2.30062Z">
            </path>
        </svg>
    </a>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script th:src="@{/assets/js/moment.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:src="@{/assets/js/theme.bundle.js}"></script>      
        <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
        <th:block layout:fragment="script"></th:block>
    </body>
</html>