<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout1" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${#strings.abbreviate(name, 20)}+' :: Bitravel 여행지 정보'">
    개별 여행지 정보 :: Bitravel
    </title>
</head>

<body>
<br>
<th:block layout:fragment="content">
    <!--메인 -->
    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="position-relative bg-light">
            <div class="container pt-11 pb-7 pb-lg-9">
                <div class="row pt-lg-5">
                    <div class="col-lg-10">
                        <h2 class="display-4" id="travelName"></h2>
                        <span id="address"></span><br><span id="travelTel"></span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="container py-2 pb-0 mt-2">
        <h2 class="mb-4 py-3 border-bottom border-4 border-secondary">상세정보</h2>
        <p id="travelSummary"></p>
    </div>
    
    <!-- 이미지 -->
    <div class="d-flex align-items-center justify-content-center mb-4 pt-2">
        <div class="d-block position-relative overflow-hidden mb-4">
            <img src="#" class="img-fluid width-500" alt="" id="tImage">
        </div>    
    </div>
    
    <!-- 지도 -->
    <div class="container py-2 pb-0 mt-1">
    <h2 class="mb-4 py-3 border-bottom border-4 border-secondary">지도 보기</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-4 pt-2">
    <div id="map" style="width:800px;height:400px;"></div>
    </div>

    <div class="container py-2 pb-0 mb-5">
        <h2 class="col-12 mb-4 py-3 border-bottom border-4 border-secondary">날씨 정보</h2>
        <div class="align-items-center text-center">
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather0">
                <div><i class="fs-1 bi bi-sun"></i></div>
                <div class="label small text-muted">오늘</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather1">
                <div class="p-0"><i class="fs-1 bi bi-sun"></i></div>
                <div class="label small text-muted">내일</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather2">
                <div class="p-0"><i class="fs-1 bi bi-sun"></i></div>
                <div class="label small text-muted">모레</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather3">
                <i class="fs-1 bi bi-sun"></i>
                <div class="label small text-muted">3일 후</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather4">
                <i class="fs-1 bi bi-sun"></i>
                <div class="label small text-muted">4일 후</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather5">
                <i class="fs-1 bi bi-sun"></i>
                <div class="label small text-muted">5일 후</div>
            </div>
            <div class="mb-4 text-center" style="width:13%;display:inline-block;" id="weather6">
                <i class="fs-1 bi bi-sun"></i>
                <div class="label small text-muted">6일 후</div>
            </div>
            <br>
            <a href="https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15084084" target="_blank" class="text-muted small">출처: 대한민국</a>
            <a href="https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15059468" target="_blank" class="text-muted small"> 기상청</a> 
        </div>
    </div>

    <div class="container py-2 pb-0 mb-10">
        <h2 class="col-12 mb-4 py-3 border-bottom border-4 border-secondary">시설 정보</h2>
        <div class="align-items-center text-center">
            <div class="col-2 col-xl-2 mb-4 text-center p-0" style="display:inline-block;">
                <i class="fs-1 fas fa-car-side"></i>
                <div class="label small mt-2"><span class="text-muted">주차시설</span><br><span id="parking">정보 없음</span></div>
            </div>
            <div class="col-2 col-xl-2 mb-4 text-center p-0" style="display:inline-block;">
                <i class="fs-1 fas fa-baby-carriage"></i>
                <div class="label small mt-2"><span class="text-muted">유모차 동반</span><br><span id="baby">정보 없음</span></div>
            </div>
            <div class="col-2 col-xl-2 mb-4 text-center p-0" style="display:inline-block;">
                <i class="fs-1 fas fa-dog"></i>
                <div class="label small mt-2"><span class="text-muted">애완동물 동반</span><br><span id="pet">정보 없음</span></div>
            </div>
            <div class="col-2 col-xl-2 mb-4 text-center" style="display:inline-block;">
                <i class="fs-1 far fa-credit-card"></i>
                <div class="label small mt-2"><span class="text-muted">신용카드 결제</span><br><span id="card">정보 없음</span></div>
            </div>
        </div>
        <div class="col-12 mb-4 text-center">
          <button type="button" class="btn btn-outline-secondary mb-3 btn-sm" data-bs-toggle="collapse" data-bs-target="#travelDetail">더 보기</button>
		  <div id="travelDetail" class="collapse">
		  		   	이 여행지의 경우 추가 정보가 없습니다.
		  </div></div>
    </div>

    <div th:if="${not #lists.isEmpty(travelList)}" class="container pb-7 mb-3">
        <h2 class="mb-5">가볼 만한 <span id="largeGov"></span> 여행지</h2>
        <!-- Swiper -->
        <div class="swiper-container swiper-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="list, index: ${travelList}">
                    <div lass="vh-20 bg-white">
                        <article class="card-hover border-0 me-4 d-flex" style="min-height:350px;">
                            <a th:href="@{'/travel/'+${list.travelId}}" class="stretched-link"></a>
                            <div class="card-body position-relative p-0">
                                <div class="d-block position-relative overflow-hidden mb-4">
                                    <img th:src="${list.travelImage}" onerror="this.src='/assets/img/800x600/2.jpg'"
                                        class="img-fluid img-zoom" style="width:90%;" alt="여행지 이미지">
                                </div>
                                <h5 class="mb-3">[[${list.travelName}]]</h5>
                                <div class="blog-content">
                                    <p class="mb-4">[[${list.largeGov}]] [[${list.smallGov}]]</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <br><br>
            <!-- Add Pagination -->
            <div th:if="${not #lists.isEmpty(travelList)}"  class="swiper-pagination swiper3-pagination"></div>
            <!-- Add Arrows -->
           <!-- <div class="swiper-button-next swiper3-button-next"></div>
            <div class="swiper-button-prev swiper3-button-prev"></div>-->
        </div>
    </div>

    <div class="container pb-5 mb-2">
        <h2 class="mb-5"><span id="travelName1"></span> 관련 인기 후기</h2>
        <!-- Swiper -->
        <div class="swiper-container swiper-3">
            <div class="swiper-wrapper">
                <div th:if="${not #lists.isEmpty(travelList2)}" class="swiper-slide">
                    <div class="vh-20 bg-white">
                        <article class="card-hover border-0 d-flex">
                            <a href="#" class="stretched-link"></a>
                            <div class="card-body position-relative p-0">
                                <div class="d-block position-relative overflow-hidden mb-4">
                                    <img src="/assets/img/800x600/2.jpg" class="img-fluid img-zoom" alt="">
                                </div>
                                <h5 class="mb-3">4 Business Trends Fueling the Future of Business</h5>
                                <div class="blog-content">
                                    <p class="mb-4">Lorem ipsum is placeholder text commonly used in the graphic,
                                        print, and publishing...</p>
                                    <div class="text-primary fw-semibold small pb-2 border-bottom border-primary">
                                        Mar 9, 2021</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <p th:unless="${not #lists.isEmpty(travelList2)}">해당 여행지 관련 등록된 후기가 없습니다.</p>
            </div>
            <br><br>
            <!-- Add Pagination -->
            <div th:if="${not #lists.isEmpty(travelList2)}" class="swiper-pagination swiper3-pagination"></div>
            <!-- Add Arrows -->
            <div th:if="${not #lists.isEmpty(travelList2)}" class="swiper-button-next swiper3-button-next"></div>
            <div th:if="${not #lists.isEmpty(travelList2)}" class="swiper-button-prev swiper3-button-prev"></div>
        </div>
    </div>
</th:block>
    <!-- scripts -->
    <th:block layout:fragment="script">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ede838b85cf414c871ae743db9dce098"></script>
    <script src="/js/bitravel/travelDetail.js"></script>    
    <script th:inline="javascript">

        const id = "[[${id}]]";

        window.onload = () => {

            findTravel(id);
        }

    </script>
    </th:block>
</body>

</html>
