<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

    <th:block layout:fragment="content">
    <div class="card-content">
		<form id="form" class="form-horizontal">
			<div class="form-group">
				<label for="boardTitle" class="col-sm-2 control-label">제목</label>
				<div class="col-sm-10">
					<input type="text" id="boardTitle" class="form-control" placeholder="제목을 입력해 주세요." />
				</div>
			</div>

		<!--  	<div class="form-group">
				<label for="nickname" class="col-sm-2 control-label">이름</label>
				<div class="col-sm-10">
					<input type="text" id="nickname" class="form-control" placeholder="이름을 입력해 주세요." />
				</div>
			</div> 
			
			<div class="form-group">
				<label for="userEmail" class="col-sm-2 control-label">이메일</label>
				<div class="col-sm-10">
					<input type="text" id="userEmail" class="form-control" placeholder="이메일을 입력해 주세요." />
				</div>
			</div>-->

			<div class="form-group">
				<label for="boardContent" class="col-sm-2 control-label">내용</label>
				<div class="col-sm-10">
					<textarea id="boardContent" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
				</div>
			</div>

			<div class="btn_wrap text-center">
				<a th:href="@{/board/list}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                <button type="button" onclick="save();" class="btn btn-primary waves-effect waves-light">저장하기</button>
			</div>
		</form>
	</div>
    </th:block>


    <th:block layout:fragment="script">
   <script th:inline="javascript">
	/*<![CDATA[*/

		/**
         * 유효성 검사
         */
        function isValid() {
        
          	const form = document.getElementById('form');
        
        	if (!form.boardTitle.value.trim()) {
        		alert('제목을 입력해 주세요.');
        		form.boardTitle.value = '';
        		form.boardTitle.focus();
        		return false;
        	}
        
        	/*if (!form.nickname.value.trim()) {
        		alert('작성자를 입력해 주세요.');
        		form.userEmail.value = '';
        		form.userEmail.focus();
        		return false;
        	}*/
        
        	if (!form.boardContent.value.trim()) {
        		alert('내용을 입력해 주세요.');
        		form.boardContent.value = '';
        		form.boardContent.focus();
        		return false;
        	}
        
        	return true;
        }
        
        /**
         * 게시글 등록(생성/수정)
         */
        function save() {
        
        	if ( !isValid() ) {
        		return false;
        	}
        
        	const form = document.getElementById('form');
        	const params = {
        		boardTitle: form.boardTitle.value,
        		//nickname: form.nickname.value,
        		boardContent: form.boardContent.value,
        		//userEmail: form.userEmail.value
        	};
        
        	fetch('/api/boards', {
        		method: 'POST', /*데이터 생성은 무조건 post 방식 이용*/
        		headers: { 
        			'Content-Type': 'application/json',
        		}, /*API 호출 시, GET 방식이 아닌 요청은 Content-Type을 application/json으로 설정한다. */
        		body: JSON.stringify(params) /*데이터 전달에 사용되는 옵션으로, params 객체에 담긴 게시글 정보를 API 서버로 전달한다.*/
        
        	}).then(response => {
        		if (!response.ok) {
        			throw new Error('Request failed...');
        		}
        
        		alert('저장되었습니다.');
        		location.href = '/board/list';
        
        	}).catch(error => {
        		alert('오류가 발생하였습니다.');
        	});
        }

	/*]]>*/
    </script>
    </th:block>

</html>