<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout1"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- include summernote css/js-->
    <link href="/css/summernote-lite.css" rel="stylesheet">
    <!--File uploader-->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">

    <title id="pageTitle">여행 게시판 작성 페이지 :: BITravel</title>
</head>

<th:block layout:fragment="content">
    <!--메인 -->
    <main class="main-content position-relative z-index-2 bg-white" id="main-content">
        <section class="position-relative bg-light">
            <div class="container  pt-11 pb-7 pb-lg-9">
                <div class="row pt-lg-5">
                    <div class="col-lg-8">
                        <a href="/board" class="text-dark decorator-none">
                            <h2 class="display-4">여행 게시판</h2>
                        </a>
                        <br>
                        <p>자유롭게 여행에 관련한 이야기를 나눠 보세요.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 글작성 창 시작-->
        <section class="position-relative">
            <div class="container py-3 py-lg-5">
                <div class="row mb-4 justify-content-center">

                    <form id="form" class="form-horizontal">
                        <div class="form-group">
                            <div>
                                <input type="text" id="boardTitle" class="form-control" placeholder="제목을 입력해 주세요." />
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <textarea id="summernote" name="editordata"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="btn_wrap text-center mt-3">
                            <button type="button" onclick="goBack();"
                                class="btn btn-outline-secondary waves-effect waves-light">뒤로가기</button>
                            &nbsp;&nbsp;
                            <button type="button" onclick="save();"
                                class="btn btn-secondary waves-effect waves-light">저장하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!-- 글작성 창 종료 -->
</th:block>

<!-- scripts -->
<th:block layout:fragment="script">
    <script th:inline="javascript" src="/js/bitravel/boardWrite.js"></script>
    <script src="/js/summernote-lite.js"></script>
    <script src="/js/summernote-ko-KR.js"></script>
    <script th:inline="javascript">

        var id;

        /*<![CDATA[*/
        $(document).ready(function () {

            id = /*[[ ${id} ]]*/;

            $('#summernote').summernote({
                placeholder: '내용을 입력하세요. (10자 이상)',
                minHeight: 370,
                maxHeight: null,
                focus: true,
                lang: 'ko-KR',
                callbacks: { //다중 이미지 처리 반복문..
                    onImageUpload: function (files, editor, welEditable) {
                        for (var i = 0; i < files.length; i++) {
                            sendFile(files[i], this);
                        }
                    }
                }
            });
            console.log("인식여부");
            findBoard();
        });

        /*]]>*/
    </script>
</th:block>

</html>
